ul.appointmentlist li {
  font-size: 13px;
  background: #009689;
  color: #fff;
  border-radius: 4px;
  text-align: left;
  padding: 0px 6px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

ul.appointmentlist li span {
  display: block;
  overflow: hidden;
}
