div.datacell-appointments,
div.datacell-appointments .appointmentlist {
  padding-bottom: 0;
  margin-bottom: 0;
}
div.datacell-appointments .appointmentlist li {
  margin-bottom: 4px;
}

.datacell-appointments .viewmore {
  color: #3c4043;
  padding: 0 6px;
  white-space: nowrap;
}

ul.appointmentlist {
  padding-bottom: 2em;
  padding-left: 0;
}
